<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwPlGXeX1yLqOlpxSG89Yoelww9VDXeUo</string>
	<key>GCM_SENDER_ID</key>
	<string>428922308220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franklyfrank.instructflow</string>
	<key>PROJECT_ID</key>
	<string>instructflow</string>
	<key>STORAGE_BUCKET</key>
	<string>instructflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428922308220:ios:a1d75f8f06ad925f7febf9</string>
	<key>DATABASE_URL</key>
	<string>https://instructflow-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>